@import url('https://fonts.cdnfonts.com/css/jetbrains-mono');

.about-section {
  padding: 10% 0;

  @media only screen and (max-width: 75em) {
    padding-top: 20%;
  }
}

.info_card {
  width: 100%;
  padding-left: 4rem;

  @media only screen and (max-width: 75em) {
    text-align: center;
    padding: 0;
    width: 70%;
    margin: 0 auto;
  }

  h1 {
    font-size: 5rem;
    color: white;
    letter-spacing: 0.2rem;

    @media only screen and (max-width: 75em) {
      font-size: 4rem;
    }

    @media only screen and (max-width: 26.5em) {
      font-size: 3.5rem;
    }

    span {
      font-family: "JetBrains Mono", sans-serif;
      font-size: 5rem;

      @media only screen and (max-width: 75em) {
        font-size: 4rem;
      }

      @media only screen and (max-width: 26.5em) {
        font-size: 3.5rem;
      }
    }
  }

  p {
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    color: rgba(91, 96, 125);

    @media only screen and (max-width: 75em) {
      width: 100%;
    }
  }
}

.position-box {
  @media only screen and (max-width: 32.5em) {
    width: 100%;
  }
}

.btn--resume {
  margin-left: 2rem;

  @media only screen and (max-width: 75em) {
    margin: 2rem 0 0 1px;
  }
}
