.header {
  background-color: rgba(88, 111, 255, 0.3);
  height: 6rem;
  width: 100%;
  position: fixed;
}

.header__group {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 200;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header__group > * {
  color: white;

  &,
  &:visited,
  &:link {
    margin-right: 3rem;
    cursor: pointer;
    letter-spacing: .1rem;
    background: transparent;
    padding: 1rem;
    border-radius: 3rem;
    text-decoration: none;
  }

  &:hover,
  &:active{
    color: rgba(255, 74, 87);
  }
}

.active-route {
  color: rgba(255, 74, 87) !important;
}
