<header class="header">
  <div class="header__group">
    <a routerLink="about" routerLinkActive="active-route">About</a>
    <a routerLink="skills" routerLinkActive="active-route">Skills</a>
    <a routerLink="experience" routerLinkActive="active-route">Experience</a>
    <a routerLink="contact" routerLinkActive="active-route">Contact</a>
  </div>
  <p></p>
  <button class="menu-icon"
          mat-icon-button
          (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>

</header>


<mat-sidenav-container
  class="sidenav-container"
  [style]="{'width': snav.opened ? '100%' : '0'}"
  (click)="snav.toggle()">
  <mat-sidenav #snav [mode]="'side'">
    <div class="nav-items">
      <a routerLink="about" routerLinkActive="active-route">About</a>
      <a routerLink="skills" routerLinkActive="active-route">Skills</a>
      <a routerLink="experience" routerLinkActive="active-route">Experience</a>
      <a routerLink="contact" routerLinkActive="active-route">Contact</a>
    </div>
  </mat-sidenav>

</mat-sidenav-container>
