<section class="resume-section">
  <div class="resume">
    <div class="resume__left-section">
      <div class="contact-box">
        <h1>Contact</h1>
        <hr>
        <h3>Phone</h3>
        <p>380976874100</p>
        <h3>Email</h3>
        <p>marat.skyba&#64;gmail.com</p>
        <h3>Address</h3>
        <p>Kyiv, Ukraine</p>
      </div>
      <div class="edu-box">
        <h1>Education</h1>
        <hr>
        <p>2022 - present</p>
        <h3>Software engineer</h3>
        <p>Kyiv Polytechnic Institute</p>
      </div>
      <div class="expertise-box">
        <h1>Expertise</h1>
        <hr>
        <p *ngFor="let expertise of expertise">&#x2022; {{expertise}}</p>
      </div>
      <div class="leng-box">
        <h1>Lengauge</h1>
        <hr>
        <p>English</p>
        <p>Ukrainian</p>
      </div>
    </div>
    <div class="resume__right-section">
      <div class="about-box">
        <h1>Marat <span>Skyba</span></h1>
        <h2>Software engineer</h2>
        <p>
          As a developer I went through a genuinely big amount of different technologies.
          But at the very end I have come to be a fullstack developer, because it really inspired me
          by its complexity. I like creating genuinely difficult business logic at the backend
          and use my frontend knowledge to even enhance the application programming interface,
          so there is nothing to do with creating really great user interfaces. Also,
          I like challenges; as a stoic I am getting genuinely inspired by gaining an ability to
          learn something new.
        </p>
      </div>
      <div class="experience-box">
        <h2>Experience</h2>
        <hr>
        <h3 class="experience-box__date">2023 - present</h3>
        <h3 class="experience-box__company">FICE students council</h3>
        <h3 class="experience-box__position">Backend developer</h3>
        <p>
          I have worked on a project called FictAdvisor. That is a platform for students,
          where students can manage their schedule, check available coursers and teachers related to them,
          and a main feature of accessing reviews about teachers from other students as well as placing them.
          Throughout my developer experience, contributing into FictAdvisor I have gained a lot of
          crucial skills. I have dived deep into working on a big project with a large team,
          and it was really inspirational for me to deal with someone else's code, refactoring and improving it.
        </p>
      </div>
      <div class="soft-skills-box">
        <h2>Soft skills</h2>
        <hr>
        <h3 *ngFor="let skill of softSkills">&#x2022; {{skill}}</h3>
      </div>
    </div>

  </div>
</section>
