<section class="resume-section">
  <div class="resume">
    <div class="resume__left-section">
      <div class="contact-box">
        <h1>Contact</h1>
        <hr>
        <h3>Phone</h3>
        <p>380976874100</p>
        <h3>Email</h3>
        <p>marat.skyba&#64;gmail.com</p>
        <h3>Address</h3>
        <p>Kyiv, Ukraine</p>
      </div>
      <div class="edu-box">
        <h1>Education</h1>
        <hr>
        <p>2022 - present</p>
        <h3>Software engineer</h3>
        <p>Kyiv Polytechnic Institute</p>
      </div>
      <div class="expertise-box">
        <h1>Expertise</h1>
        <hr>
        <p>&#x2022; JavaScript/TypeScript</p>
        <p>&#x2022; NodeJs</p>
        <p>&#x2022; NestJs</p>
        <p>&#x2022; ExpressJs</p>
        <p>&#x2022; React</p>
        <p>&#x2022; Angular</p>
      </div>
      <div class="leng-box">
        <h1>Lengauge</h1>
        <hr>
        <p>English</p>
        <p>Ukrainian</p>
      </div>
    </div>
    <div class="resume__right-section">
      <div class="about-box">
        <h1>Marat <span>Skyba</span></h1>
        <h2>Software engineer</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pharetra in lorem at laoreet. Donec hendrerit libero eget est tempor, quis tempus arcu elementum. In elementum elit at dui tristique feugiat. Mauris convallis, mi at mattis malesuada, neque nulla volutpat dolor, hendrerit faucibus eros nibh ut nunc. </p>
      </div>
      <div class="experience-box">
        <h2>Experience</h2>
        <hr>
        <h3 class="experience-box__date">2023 - present</h3>
        <h3 class="experience-box__company">FICE students council</h3>
        <h3 class="experience-box__position">Backend developer</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pharetra in lorem at laoreet. Donec hendrerit libero eget est tempor, quis tempus arcu elementum. In elementum elit at dui tristique feugiat. Mauris convallis, mi at mattis malesuada, neque nulla volutpat dolor, hendrerit faucibus eros nibh ut nunc. Proin luctus urna id nunc sagittis dignissim. Sed in libero sed libero dictum dapibus. Vivamus fermentum est eget lorem aliquet, vel tempus metus dignissim. Donec risus arcu, tristique et sollicitudin blandit, iaculis ut nisl. Integer rutrum ultricies fringilla.</p>
      </div>
      <div class="soft-skills-box">
        <h2>Soft skills</h2>
        <hr>
        <h3>&#x2022; Communication</h3>
        <h3>&#x2022; Multi-tasking</h3>
        <h3>&#x2022; Adaptability/Flexibility</h3>
        <h3>&#x2022; Problem-solving</h3>
        <h3>&#x2022; Time management</h3>
        <h3>&#x2022; Leadership</h3>
      </div>
    </div>

  </div>
</section>
