<section class="about-section">
  <div class="row">
    <div class="col-2-of-3">
      <div class="info_card">
        <h1>Hello, I'm
          <span style="color: rgba(114, 152, 187)"><</span>
          <span style="color: rgba(38, 178, 149)">Marat</span>
          <span style="color: rgba(114, 152, 187)">/></span>, a passionate Fullstack developer</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.
        </p>
        <a routerLink="/contact" class="btn btn--red">Contact me</a>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="position-box">
        <app-contact-info/>
      </div>
    </div>
  </div>
</section>
