.skill-set-section {
  padding-top: 6%;

  @media only screen and (max-width: 75em) {
    padding: 8% 0;
  }

  @media only screen and (max-width: 56.25em) {
    padding: 10% 0;
  }

  @media only screen and (max-width: 37.5em) {
    padding: 25% 0;
  }
}

//--tab-land: 75em;           //1200px
//--tab-port: 56.25em;        //900px
//--phone: 37.5em;            //600px


.skills-box {
  margin: 0 10%;
  display: grid;
  align-items: center;
  row-gap: 4rem;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;

  @media only screen and (max-width: 75em) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: 37.5em) {
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  &__card {
    background-color: rgba(64,74,138);
    height: 22rem;
    padding: 2.5rem;

    @media only screen and (max-width: 37.5em) {
      background-color: transparent;
      border: 1rem solid rgba(64,74,138);
      height: 30rem;
      padding: 5rem 1rem 0 1rem;
    }

    @media only screen and (max-width: 30em) {
      height: 35rem;
    }

    h3 {
      font-size: 2.5rem;
      color: white;
      font-weight: 100;
    }

    p {
      margin-top: 1rem;
      font-size: 2rem;
      color: rgba(53,57,87);

      @media only screen and (max-width: 37.5em) {
        background-color: transparent;
        color: rgba(64,74,138);
        font-size: 2.5rem;
      }
    }

    img {
      margin-bottom: 1rem;
      height: 7rem;
    }
  }
}


