<form [formGroup]='contactForm' class="contact-form" (ngSubmit)="onSubmit()">
  <input type="email" formControlName="email" placeholder="Email">
  <textarea type="text" formControlName="message" placeholder="Message"></textarea>
  <div class="contact-form__submit">
    <button class="btn btn--red"
            type="submit"
            [disabled]="!contactForm.valid || message"
            [ngStyle]="{'opacity': message && '0'}">Keep in touch</button>
    <mat-progress-spinner *ngIf="formSubmitted" mode="indeterminate" [diameter]="40"></mat-progress-spinner>
  </div>

  <h3 *ngIf="message">{{message}}</h3>
</form>
