.contact-form {
  background-color: rgba(64,74,138);
  padding: 3rem;
  display: grid;
  justify-content: center;
  gap: 1rem;
  position: relative;

  @media only screen and (max-width: 37.5em) {
    width: 50vw;
  }

  @media only screen and (max-width: 27em) {
    background-color: transparent;
    width: 100%;
    padding: 0;
  }

  input,
  textarea {
    width: 30vw;
    border: none;
    font-size: 2rem;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(53, 57, 87, .5);
    border-bottom: 3px solid transparent;

    @media only screen and (max-width: 56.25em) {
      width: 42vw;
    }

    @media only screen and (max-width: 27em) {
      width: 70vw;
      background-color: rgba(88, 111, 255, 0.3);;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
      border-bottom: 3px solid white;
    }

    &:focus:invalid {
      border-bottom: 3px solid rgba(255, 74, 87);;
    }
  }

  textarea {
    max-height: 7vh;
    max-width: 30vw;
    height: 7vh;

    @media only screen and (max-width: 56.25em) {
      max-width: 42vw;
    }

    @media only screen and (max-width: 27em) {
      max-width: 100%;
    }
  }

  button {
    margin-top: 2rem;
    width: 20vw;
    transition: all .5s;

    @media only screen and (max-width: 56.25em) {
      width: 30vw;
    }

    @media only screen and (max-width: 27em) {
      width: 60vw;
      margin: 0 auto;
    }
  }

  h3 {
    transform: translateY(21.5rem) translateX(5rem);
    font-size: 2rem;
    font-weight: 200;
    color: white;
    position: absolute;

    @media only screen and (max-width: 68.75em) and (min-height: 62.5em) {
      transform: translateY(27.5rem) translateX(5rem);
    }

    @media only screen and (max-width: 27em) {
      opacity: 0;
    }
  }

  &__submit {
    display: inline-flex;

    mat-progress-spinner {
      margin: 2rem 0 0 1rem;

      @media only screen and (max-width: 27em) {
        margin: -0.2rem;
      }
    }
  }
}

.submit-animation {
  transform: translateX(100%);
  opacity: 0;

  @media only screen and (max-width: 27em) {
    opacity: 0;
  }
}
