@use '@angular/material' as mat;

@include mat.core();

$profile-primary: mat.define-palette(mat.$indigo-palette);
$profile-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$profile-warn: mat.define-palette(mat.$red-palette);
$profile-theme: mat.define-light-theme((
  color: (
    primary: $profile-primary,
    accent: $profile-accent,
    warn: $profile-warn,
  )
));

@include mat.all-component-themes($profile-theme);

@import "bootstrap-icons/font/bootstrap-icons";
@import "styles/abstracts/mixins";
@import "styles/components/button";
@import "styles/layout/grid";

//--big-desktop: 112.5em;     //1800
//--tab-land: 75em;           //1200px
//--tab-port: 56.25em;        //900px
//--phone: 37.5em;            //600px

:root {
  --grid-width: 113rem;
  --gutter-vertical: 8rem;
  --gutter-vertical-small: 6rem;
  --gutter-horizontal: 6rem;
  --color-primary-red: rgba(255, 74, 87);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: 75em) {
    font-size: 56.25%;
  }

  @media only screen and (max-width: 56.25em) {
    font-size: 50%;
  }

  @media only screen and (min-width: 112.5em) {
    font-size: 75%;
  }
}

body {
  background-color: rgba(53, 57, 87);
  font-family: "Lato", sans-serif;
}
