@use '@angular/material' as mat;

@include mat.core();

$profile-primary: mat.define-palette(mat.$indigo-palette);
$profile-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$profile-warn: mat.define-palette(mat.$red-palette);
$profile-theme: mat.define-light-theme((
  color: (
    primary: $profile-primary,
    accent: $profile-accent,
    warn: $profile-warn,
  )
));


@include mat.all-component-themes($profile-theme);

@import "bootstrap-icons/font/bootstrap-icons";
@import "assets/styles/abstracts/mixins";
@import "assets/styles/abstracts/variables";
@import "assets/styles/components/button";
@import "assets/styles/layout/grid";

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgba(53, 57, 87);
  font-family: "Lato", sans-serif;
}
