.experience-section {
  padding: 10% 0;
  width: 100vw;

  @media only screen and (max-width: 56.25em) and (min-height: 62.5em) {
    padding-top: 20% !important;
  }

  @media only screen and (max-width: 68.75em) and (min-height: 68.75em) {
    padding-top: 20% !important;
  }

  @media only screen and (max-width: 75em) {
    padding-top: 15%;
  }

  @media only screen and (max-width: 56.25em) {
    padding-top: 20%;
  }
}

.description-box {
  padding: 0 4rem;

  @media only screen and (max-width: 75em) {
    margin: 0 auto;
    padding: 0;
    width: 85%;
    text-align: center;
  }

  h1 {
    text-shadow:  0 0 3rem rgba(255, 74, 87);
    letter-spacing: 0.3rem;
    font-size: 4rem;
    color: white;
    margin-bottom: 1rem;

    @media only screen and (max-width: 56.25em) {
      font-size: 3.5rem;
    }
  }

  p {
    font-size: 2rem;
    color: rgba(91, 96, 125);
    margin-bottom: 2rem;
    text-align: justify;
  }

  a {
    font-size: 1.5rem;
    margin-right: 4rem;

    @media only screen and (max-width: 56.25em) {
      font-size: 0.9rem;
    }
  }

  a:last-child {
    margin-right: 0;
  }
}

.img-box {
  padding-top: 4rem;

  @media only screen and (max-width: 75em) {
    width: 45rem;
    margin: 0 auto;
    padding-top: 4rem;
  }

  @media only screen and (max-width: 56.25em) {
    width: 40rem;
    padding-top: 4rem;
  }

  @media only screen and (max-width: 37.5em) {
    width: 35rem;
    margin: 0 auto;
  }

  @media only screen and (max-width: 26.5em) {
    width: 30rem;
  }

  img {
    height: auto;
    width: 50rem;
    border-radius: 1rem;
    box-shadow: -4.4rem 3.8rem 4.7rem 0.5rem rgba(0, 0, 0, 0.5);

    @media only screen and (max-width: 75em) {
      width: 45rem;
    }

    @media only screen and (max-width: 56.25em) {
      width: 40rem
    }

    @media only screen and (max-width: 37.5em) {
      width: 35rem;
      box-shadow: none;
    }

    @media only screen and (max-width: 26.5em) {
      width: 30rem;
    }
  }
}

