.source-box {
  margin-left: 5vw;
  display: grid;
  gap: 1rem;

  @media only screen and (max-width: 75em) {
    display: flex;
    gap: 4rem;
    width: 26rem;
    margin: 0 auto;
    padding-top: 4rem;
  }
}
